#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "tableaunoir"
name = "Tableaunoir"
description.en = "Online blackboard with magnets for teaching and making animations and presentations"
description.fr = "Tableau noir en ligne avec aimants pour enseigner, créer des animations et des présentations"

version = "0.1~ynh5"

maintainers = ["eric_G"]

[upstream]
license = "GPL-3.0"
website = "https://tableaunoir.github.io/"
demo = "https://tableaunoir.github.io/"
code = "https://github.com/tableaunoir/tableaunoir"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/tableaunoir"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/tableaunoir/tableaunoir.github.io/archive/master.zip"
    sha256 = "ca1ebb14a17914c40612a04f50a9d6d5d386284b8fd3396de71f7c345945104a"

    # autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"
    
    [resources.permissions]
    main.url = "/"
